@{
    <link rel="stylesheet" href="~/css/style.css"/>
}

<div class="container">
    <div class="card">
        <div class="box">
            <div class="content">
                <h2>01</h2>
                <h3>Card One</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit laudantium tempora reiciendis nam libero ipsa consectetur officia eius odio sint?</p>
                <a href="#">Read More</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="box">
            <div class="content">
                <h2>02</h2>
                <h3>Card Two</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit laudantium tempora reiciendis nam libero ipsa consectetur officia eius odio sint?</p>
                <a href="#">Read More</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="box">
            <div class="content">
                <h2>03</h2>
                <h3>Card Three</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit laudantium tempora reiciendis nam libero ipsa consectetur officia eius odio sint?</p>
                <a href="#">Read More</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="box">
            <div class="content">
                <h2>04</h2>
                <h3>Card Four</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit laudantium tempora reiciendis nam libero ipsa consectetur officia eius odio sint?</p>
                <a href="#">Read More</a>
            </div>
        </div>
    </div>
</div>