@{
    <link rel="stylesheet" href="~/css/style.css"/>
}

<main>
    <div class="shopping">
        <h2 class="shopping__title">Shopping List</h2>
        <ul class="shopping__checklist">
            <li class="shopping__item">
                <input type="checkbox" id="butter" class="shopping__check" />
                <label for="butter" class="shopping__label">Butter</label>
            </li>
            <li class="shopping__item">
                <input type="checkbox" id="garlic" class="shopping__check" checked/>
                <label for="garlic" class="shopping__label">Garlic</label>
            </li>
            <li class="shopping__item">
                <input type="checkbox" id="eggs" class="shopping__check" />
                <label for="eggs" class="shopping__label">Eggs</label>
            </li>
            <li class="shopping__item">
                <input type="checkbox" id="potatoes" class="shopping__check" />
                <label for="potatoes" class="shopping__label">Potatoes</label>
            </li>
            <li class="shopping__item">
                <input type="checkbox" id="broccoli" class="shopping__check" />
                <label for="broccoli" class="shopping__label">Broccoli</label>
            </li>
            <li class="shopping__item">
                <input type="checkbox" id="shrimp" class="shopping__check" />
                <label for="shrimp" class="shopping__label">Shrimp</label>
            </li>
        </ul>
    </div>
    <div class="shopping">
        <h2 class="shopping__title">Workout</h2>
        <ul class="shopping__checklist">
            <li class="shopping__item">
                <input type="checkbox" id="Gym" class="shopping__check" />
                <label for="Gym" class="shopping__label">Gym</label>
            </li>
            <li class="shopping__item">
                <input type="checkbox" id="run" class="shopping__check" checked/>
                <label for="run" class="shopping__label">run</label>
            </li>
        </ul>
    </div>
    <div class="shopping">
                <h2 class="shopping__title">Learn ASP.Net</h2>
                <ul class="shopping__checklist">
                    <li class="shopping__item">
                        <input type="checkbox" id="dotnet" class="shopping__check" />
                        <label for="dotnet" class="shopping__label">Learn .netcore</label>
                    </li>
                    <li class="shopping__item">
                        <input type="checkbox" id="mvc" class="shopping__check" checked/>
                        <label for="mvc" class="shopping__label">learn mvc</label>
                    </li>
                    <li class="shopping__item">
                        <input type="checkbox" id="mvp" class="shopping__check" />
                        <label for="mvp" class="shopping__label">learn mvp</label>
                    </li>
                    
                </ul>
            </div>
</main>