:root {
  --primary-color: #064635;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  color: #1a1a1a;

  font-family: "Golos Text", sans-serif;
}

main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
  
}

.shopping {
  padding: 2.4em 2em;

  display: grid;
  row-gap: 2em;

  background: white;
  box-shadow: 2px 0 15px -2px rgba(0, 0, 0, 0.2);

  border-radius: 12px;

  min-width: 300px;
}

.shopping__title {
  font-size: 1.4em;
  font-weight: 700;

  text-align: center;

  padding-bottom: 1em;

  border-bottom: 4px dotted var(--primary-color);
  color: var(--primary-color);
}

.shopping__checklist {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 1.6em;
  flex-direction: column;
  list-style-type: none;
}

/* Shopping List */
/*  =========== */
/*  =========== */

.shopping__item {
  display: flex;
  align-items: center;
  gap: 0.6em;
}

.shopping__check {
  appearance: none;
  cursor: pointer;

  margin-top: 1px;
  padding: 3px;

  aspect-ratio: 1/1;
  height: 1.2em;

  border: 1px solid var(--primary-color);
  border-radius: 4px;
}

.shopping__label {
  user-select: none;
  cursor: pointer;

  flex-grow: 1;
}

.shopping__check:checked {
  background: var(--primary-color);
  background-clip: content-box;

  opacity: 0.4;
}

.shopping__check:checked + .shopping__label {
  text-decoration:
          line-through var(--primary-color) 2px;

  opacity: 0.4;
}
